{% extends 'base.html' %}

{% block title %}To Do Page{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<h1>This is the To do page.</h1>

<ul>
  {% for todo_item in all_items %}
    <li>{{ todo_item.content }} Created at {{ todo_item.timestamp }}
      <form action="/deleteTodo/{{todo_item.id}}/"
            style="display: inline;"
            method="post">{% csrf_token %}
        <input type="submit" name="deleting" value="Delete"/>
		
      </form>
	  
    </li>


  {% endfor %}
</ul>
<form action="/addTodo/" method="post">{% csrf_token %}
  <input type="text" name="content"/>
  <input type="submit" name="Adding" value="Add"/>
</form>
<p><a href="{% url 'logout' %}">logout</a></p>
<p><a class="btn btn-primary" name="hist" href="/history">History</a></p>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
